body {
    background-image: url("images/bg_image.jpg");
    padding-top: 100px;
}

.cont_big{
    background-color: skyblue;
    width: 1700px;
    height: 900px;
    margin-left: 300px;
    padding-top: 50px
}

.container{
    background-color: white;
    width: 700px;
    height: 635px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

img {
    width: 350px;
    height: 635px;
}

.text{
    display:inline-block;
}

.icon_cont{
    width: 150px;
    height: 55px;
}

.icon{
    height: 40px;
    width:40px
}